@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --pink:rgb(197, 155, 155); 
}

body{
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(45deg, rgba(22, 31, 43, 0.5) 0%, rgba(32, 71, 123, 0.5) 12.5%,rgba(53, 28, 54, 0.5) 12.5%, rgba(53, 28, 54, 0.5) 25%,rgba(83, 25, 65, 0.5) 25%, rgba(83, 25, 65, 0.5) 37.5%,rgba(114, 22, 76, 0.5) 37.5%, rgba(114, 22, 76, 0.5) 50%,rgba(144, 20, 86, 0.5) 50%, rgba(144, 20, 86, 0.5) 62.5%,rgba(175, 17, 97, 0.5) 62.5%, rgba(175, 17, 97, 0.5) 75%,rgba(205, 14, 108, 0.5) 75%, rgba(205, 14, 108, 0.5) 87.5%,rgba(236, 11, 119, 0.5) 87.5%, rgba(236, 11, 119, 0.5) 100%),linear-gradient(135deg, rgb(188,0,33) 0%, rgb(188,0,33) 12.5%,rgb(173,4,11) 12.5%, rgb(173,4,11) 25%,rgb(158,7,7) 25%, rgb(158,7,7) 37.5%,rgb(143,11,17) 37.5%, rgb(143,11,17) 50%,rgb(129,15,18) 50%, rgb(129,15,18) 62.5%,rgb(115,19,19) 62.5%, rgb(115,19,19) 75%,rgb(106,22,22) 75%, rgb(106,22,22) 87.5%,rgb(97,26,26) 87.5%, rgb(97,26,26) 100%);
}

h1{
    font-size: 1.75em;
    text-transform: uppercase;
    color: rgb(255, 255, 255) ;
}

figcaption{
    color: white;
}
h2{
    font-size:1.6em;
}

h1,h2{
    font-weight: bold;
    text-align: center;
}

p{
    color: #003E62;
}

table,th,td{
    border: 3px solid;
    border-collapse: collapse;
}

nav{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;

}

.box{
    border: 3px solid rgb(240, 104, 149);
    background-color: rgb(231, 202, 202);
    margin:10px ;
}

.soustitre{
    font-size: 1.2em;
    font-weight: bold;
}

#article{
    text-decoration: underline;
    color: #003E62;
}

.form{
    text-align: justify;
}

.loc{
    margin-left: 20px;
    margin-bottom: 15px;
}

a:hover{
    text-decoration: underline 3px;
    color:red;
}


section h2+p, .center,.map{
    text-align:center ;
}

input:optional{
    color:gold
}

input:checked{
    box-shadow: 0 0 0 3px red;
}

.map{
    width:20em;
    height:20em;
}

.box{
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.couleur{
    color: #003E62 ;
}

.br{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 600px){
    .map{
        width:16em;
        height:16em;
    }
}

@media only screen and (min-width: 600px){

    .container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3,1fr);
        color: #444;
    }

    .a{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .b{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .c{
        grid-column: 3/4;
        grid-row: 1/2;
    }   
}